@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #dfdddd; */
    /* col: b */
}

.new-main-button{
    font-weight: 300;
}

#img-left{
    height: 400px;
}

#logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.propofile{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: -15px;
}

#okimage{
    width: 10px;
    height: 10px;
    border-radius:70% ;
}